# Playit.gg Secret Key
# https://playit.gg で取得したシークレットキー
PLAYIT_SECRET_KEY=your_secret_key_here

# Velocity Forward Secret
# server-1, server-2 と Velocity の通信用シークレット
# velocity/forwarding.secret の内容を記載
VELOCITY_SECRET=58380ae76933706d5cd72d67f6d5d6aa66522ae49e786d6457a5447c58b046b1
